name: Test Project

on: push

jobs:
  test:
    runs-on: ubuntu-24.04.3
    steps:
      - name: Get Code
        uses: actions/checkout@v5
      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install Dependencies
        run: npm ci
      - name: Run Tests
        run: npm test
